<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent Entries</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="../public/javascript/modal.js" defer></script>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <main>
      <h1 class="entries">List of Entries</h1>
      <div class="entries">
        <% for(let i = 0; i < entries.length; i++){ %>
        <a href="/entries/<%= entries[i]._id %>">
          <img
            src="<%= entries[i].img %>"
            title="<%= entries[i].artist %> - <%= entries[i].album %>"
            alt="<%= entries[i].artist %> - <%= entries[i].album %>"
        /></a>

        <div class="modal-container" id="modal_container">
          <div class="modal">
            <h2><%= entries[i].artist %></h2>
            <p><%= entries[i].comments %></p>
            <a href="/entries/<%= entries[i]._id %>">See more...</a>
            <br />
            <br />
            <button id="close">Close</button>
          </div>
        </div>
        <% } %>
      </div>
      <!-- <button id="open">OPEN</button> -->
    </main>
  </body>
</html>
