<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= entry.artist %>: <%= entry.album %> (<%=entry.year%>)</title>

    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <header><%- include('../partials/nav.ejs') %></header>
    <main class="container">
      <div id="left">
        <h1>
          <strong><%= entry.artist %></strong>
        </h1>
        <h2><em><%= entry.album %></em></h2>
        <h3>(<%= entry.year %>)</h3>

        <!-- <h2>Attributes:</h2> -->
        <img class="show" src="<%= entry.img %>" />
      </div>
      <div id="right">
        <br />
        <p><%= entry.comments %></p>
        <br />
        <p>
          - <%= entry.user %> <br />
          <br />
          <% if(entry.date) { %> (<%= entry.date %>) <% } %>
        </p>
      </div>
      <div class="editdelete">
        <% if(currentUser) {%>
        <section>
          <form action="/entries/<%= entry._id %>/edit">
            <input type="submit" value="Edit Entry" />
          </form>
        </section>
        <section>
          <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Entry" />
          </form>
          <% } %>
        </section>
      </div>
    </main>
  </body>
</html>
